:root {
  --red: #ff6961;
  --green: #77dd77;
  --darkgreen: #328c3b;
  --grey: #d3d3d3;
  --lightgrey: #f3f3f3;
  --darkgrey: #919191;
  --blue: #06AED5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  width: 100%;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
}

textarea:active,
textarea:focus {
  outline: 0;
  border: 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 2rem;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  margin-top: 1.25rem;
  font-weight: bold;
}

tbody {
  overflow: hidden;
}

.row {
  /*white-space: pre-wrap;*/
  height: 80px;
  border-top: 1px solid white;
}

.row td:nth-child(2) {
  flex: 1 0 80%;
}

.row td:first-child,
.row td:last-child {
  flex: 1 0 10%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-right: 1px solid black;
}

.hour.current {
  color: var(--red);
  font-size: x-large;
  padding: 0.5rem;
}

.past {
  background-color: var(--grey);
  color: white;
}

.present {
  background-color: var(--red);
  color: white;
}

.future {
  background-color: var(--green);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--blue);
  color: white;
  text-align: center;
}

.saveBtn i {
  margin-top: .75rem;
}

.saveBtn:hover {
  background-color: var(--darkgreen);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.saveBtn.inactive {
  background-color: var(--grey);
  color: var(--darkgrey);
}

.saveBtn.inactive:hover {
  background-color: var(--grey);
  color: var(--darkgrey);
  cursor: not-allowed;
}

.hour.inactive {
  /*background-color: var(--grey);*/
  color: var(--darkgrey);
  font-size: 0.8rem;
}